:root {
  --dark: #6b5b52;
  --midark: #7b6c4f;
  --dim: #e5c8a4;
  --color: #265c31;
  --mid: #5d6f5d;
  --light: #f9e8d1;
  --milight: #E5E1E1;
  --white: #FAF3F3;
  --std: all 250ms ease-in-out;
  --long: all 500ms ease-in-out;
}
  
body {
  color: var(--mid);
  height: 100vh;
  background-color: var(--milight);
}
/*------------------
--  Nav Styles  --
------------------*/
.topnav { 
  background-color: var(--dim);
  padding: 5rem 4rem 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.site-footer {
  background-color: var(--dim);
  padding: 1em 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.logo {
  margin-right: auto;
  opacity: .85;
  font-size: larger;
  font-weight: 700;
}
a.logo:hover {
  opacity: 1;
}
a.logo > img {
  width: 120px;
  height: auto;
}
.topnav h1 {
  text-align: center;
}
.topnav a {
  text-decoration: none; 
  color: var(--mid);
  cursor: pointer;
  transition: var(--std);
}
a:hover {
  color: var(--light);
  cursor: pointer; 
}
.nav-item.trigram {
  display: none; /*-- hides trigram (hamburger menu button) by default --*/
}



/*-- Styles for slideshow --*/
.hero {
  position: relative; /*-- this allows children to be position absolutely --*/
  padding: 0;
  
}

.slide {
  padding: 1px 0rem;
  margin: 0;
  background-color: var(--dim);
}


.figcaption {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  text-shadow: -1px -1px 0px rgba(0,0,0,0.8),
               1px -1px 0px rgba(0,0,0,0.8),
               -1px 1px 0px rgba(0,0,0,0.8),
               1px 1px 0px rgba(0,0,0,0.8);
}
.figcaption h1 {
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
}
.figcaption p {
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

/*--for slide show--*/
.prev {
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  padding: 5rem 3rem;
  position: absolute; /*-- positions arrows absolutely--*/
  top: 50%; /*-- positions arrows half the height of parent from top --*/
  left: 0rem;
  transform: translateY(-50%);
  width: auto; /*-- matches width of parent --*/
  font-size: 200%;
  transition: var(--std);
  border-radius: 0 2rem 2rem 0; /*-- slightly rounds inside borders --*/
  user-select: none; /*-- prevents users from selecting buttons --*/
}
.next {
  right: 0rem; /*-- positions next arrow hard right --*/
  border-radius: 2rem 0 0 2rem; /*-- rounds the outside borders --*/
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  padding: 5rem 3rem;
  position: absolute; /*-- positions arrows absolutely--*/
  top: 50%; /*-- positions arrows half the height of parent from top --*/
  transform: translateY(-50%);
  width: auto; /*-- matches width of parent --*/
  font-size: 250%;
  transition: var(--std);
  user-select: none; /*-- prevents users from selecting buttons --*/
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6); /*-- gives a background for contrast on hover --*/
}

  
button {
  background: none;
  border: 0;
  transition: var(--std);
}
button:hover {
  cursor: pointer;
}
.dot-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 3.2rem;
}
main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 2rem 2vw;
}  
.card {
  background-color: var(--milight);
  border-radius: 10px;
  transition: var(--std);
  box-shadow: 0 3px 24px rgba(0,0,0,.25);
  min-width: 22rem;
  align-self: start;
}
.card:hover {
  box-shadow: 0 1px 8px rgba(0,0,0,.5);
}
.card-header {
  position: relative;
}
.card-header > img {
  border-radius: 7px 7px 0 0;
}
.card-header > button:hover {
  background-color: rgba(0,0,0,0.4);
}
.card-header .material-symbols-outlined {
  font-size: 8rem;
  font-variation-settings: 'wght' 300;
}
.card-footer {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--midark);
}
.card-footer > div {
  margin-bottom: 1rem;
}
.card-footer button {
  color: var(--midark);
}
.card-footer button.clicked {
  color: var(--color);
}
.card-footer button:hover {
  color: var(--dark);
}
.card-footer .material-symbols-outlined {
  font-size: 5rem;
  font-variation-settings: 'wght' 200;
}
.actions {
  display: flex;
  justify-content: space-between;
}


/*---------------------
--- Card Collapse --
----------------------*/
.card-footer .actions {
  margin-bottom: 0;
}
.card-footer .stats, .card-footer .tags {
  max-height: 0px;
  overflow-y: hidden;
  display: none;
}
.card-footer.opened .stats, .card-footer.opened .tags {
  display: inherit;
  max-height: 99em;
}


/*---------------------
---- Media Queries ----
---------------------*/
@media screen and (max-width: 767px) {/*--At screens BELOW 768px, hides nav menu items and displays trigram --*/
  .topnav a:not(a.logo, a.trigram) {display: none;}
  .topnav a.trigram {
    display:inherit;
    justify-self: end;
    transform:scale(2.5);
  }
}
/*-- Now for the min-width queries --*/
@media screen and (min-width: 550px) {
  main{grid-template-columns:repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  main{grid-template-columns:repeat(3, 1fr);}
  aside p {column-count: 2;}
}
@media screen and (min-width: 1080px) {
  main{grid-template-columns:repeat(4, 1fr);}
}
  
.description {
  display: flex;
  justify-content: center;
  background-color: var(--dim);
  padding: 4rem;
  font-size: x-large;
  margin: 0;
  text-align: center;
}