:root {
  --dark: #6b5b52;
  --dark-transparent:rgba(107, 91, 82, 0.7);
  --midark: #7b6c4f;
  --dim: #e5c8a4;
  --color: #265c31;
  --mid: #5d6f5d;
  --light: #f9e8d1;
  --milight: #E5E1E1;
  --white: #FAF3F3;
  --std: all 250ms ease-in-out;
  --long: all 500ms ease-in-out;
}
  
  body {
    color: var(--mid);
    height: 100vh;
    background-color: var(--milight);
  } 
 
 /*------------------
  --  Nav Styles  --
  ------------------*/
  .topnav { 
    background-color: var(--dim);
    padding: 5rem 4rem 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .site-footer {
    background-color: var(--dim);
    padding: 1em 4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a.logo {
    margin-right: auto;
    opacity: .85;
    font-size: larger;
    font-weight: 700;
  }
  a.logo:hover {
    opacity: 1;
  }
  a.logo > img {
    width: 120px;
    height: auto;
  }
  .topnav h1 {
    text-align: center;
  }
  .topnav a {
    text-decoration: none; 
    color: var(--mid);
    cursor: pointer;
    transition: var(--std);
  }
  a:hover {
    color: var(--light);
    cursor: pointer; 
  }
  .nav-item.trigram {
    display: none; /*-- hides trigram (hamburger menu button) by default --*/
  }

.main {
  text-align: center;
}


  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
  }
  
  .photo-item {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%; /* or set a specific width */
    max-width: 400px;
  }
  
  .photo-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .photo-item img:hover {
    transform: scale(1.05);
  }
  
  .photo-item h3 {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--dark-transparent);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
  }
  
  